*.pyc
*.egg-info
.vscode/
.coverage
.mypy_cache
.pytest_cache
.VSCodeCounter
gridresults
log.txt

# My virtual environments 
venv
devenv
testenv

# Custom bash scripts
enter
compile
run
resetenv
runtests